@model FoodShopOnline.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Register", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <link rel="stylesheet" type="text/css" href="\content\client\dndkv2.css" />
    <div class="dkdnpage">
        <div class="form-horizontal">
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <p>Đăng Kí</p>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "fa fa-user" })
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", style = "height:50px;"} } )
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "fas fa-key" })
                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "fas fa-key" })
                    @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "fa fa-user" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", style = "height:50px;" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "fas fa-home" })
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", style = "height:50px;" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "fas fa-envelope" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", style = "height:50px;" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                    <input type="submit" value="Đăng Kí" />
            </div>
            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @if (ViewBag.Success != null)
                {
                <center>
                    <div class="alert alert-success">@ViewBag.Success</div>
                </center>
                }
            </div>
        </div>
    </div>
}
