@model List<Model.EnityFramework.ProductCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Danh Mục Sản Phẩm
}
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Alias</th>
                        <th>CreatedDate</th>
                        <th>CreatedBy</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Alias</th>
                        <th>CreatedDate</th>
                        <th>CreatedBy</th>
                        <th>Status</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID">
                            <td>@item.ID</td>
                            <td>@item.Name</td>
                            <td>@item.Alias</td>
                            <td>@item.CreatedDate</td>
                            <td>@item.CreatedBy</td>
                            <td>@item.Status</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


